body  {
    background-color: #cccccc;
    background: url(img/ocean3.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main-heading{
	text-align: center;
}

.list-inline li, .list-inline a{
	display: inline-block;
	font-family: times;
	color: #fff; 
	margin-right: 5px;


}
.list-inline {
	text-align: right;
	margin-top: 30px;
}
.img-rounded{
	position: relative;
}
.img-rounded.img-special p{
	position: absolute;
	top: 0;
	color: #fff;
}

.form-button{
	width: 100px !important;
}